@model IEnumerable<fitnessMVC.Model.tbl_color3>
@{
                Layout = null;
}
<div class="col-lg-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="qutu col-lg-4 col-md-4 col-s-12">
                <div class="container">
                    <div class="logo">
                        <i class="fas fa-fire-alt"></i>
                    </div>
                    <div class="context">
                        <h4>@item.Header</h4>
                        <p>@item.Description</p>
                        <a href="">Ətraflı</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
